.detail-content{
    background-color: #fff;
    padding-top: 50px;
}
.detail-title{
    text-align: center;
}
.detail-title h1{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 38px;
}
.detail-title-des{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    font-size: 16px;
}
.detail-title-des p{
    margin-right: 15px;
}
.detail-title-des div{
    color: #909090;
    margin: 0 36px;
}
.ft{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 2px solid #4078be;
    color: #4078be;
    font-weight: 600;

}
.detail-title-des a{
    color: #333;
    margin: 0 20px;
}
.detail-title-des .active{
    display: inline-block;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #125798;
    line-height: 31px;
    color: #fff;
}
.big{
    margin: 0 0 0 20px !important;
}
.share{
    margin: 0 !important;
}
.detail-title-des img{
    margin-right: 15px;
    width: 31px;
    height: 31px; 
}
.detail-text-content{
	padding: 0 88px;
}
.txt-content{
	margin-top: 48px;
}



